/* ma vaffanculo.
 * 
 * Questo:
 * #site-title #logo a (come ha mystique)
 * ha piu' specificita' di #logo a (come avevo fatto io)
 * e quindi il primo ha la precedenza sul secondo, anche se imposto
 * successivamente come ordine di lettura nei css.
 * Non lo sapevo proprio.
 * */


/* Titolo principale */
#site-title {
	padding: 1em 0;
}

body.fixed .header-wrapper {width: 100%;background: transparent url(img/sfondo_top.png) no-repeat 0 0;}
#header {width: 940px;margin: 0 auto;}

/* Separiamo un pochino il contenuto vero e proprio dal resto */
#main-inside{padding-top: 30px}

/* Navigazione post precedente/successivo */
.single-navigation div {color: #080}
.single-navigation a {color: #888}
.single-navigation a:href {color: #080}


/* Stacco un pochino il contenuto di un post da ciò che c'è sopra. */
.post-content {margin-top: 14px}

a:hover {color: #080;}
.post-info a:hover {color: #080}
.post-meta a:hover {color: #080}
li.comment .controls a:hover{background-color:#070; border-top-color:#5b5; color:#fff;}


/* Elenchi puntati nel contenuto */
.post-content ul{list-style-type:none;margin:0 0 .4em 0;}
.post-content li{background:transparent url(img/icons.png) no-repeat 4px /*-816px*/-1005px;margin:0;padding:0 0 0 18px;}
/* Non lo faccio su mouseover.    .post-content li:hover{background-position:4px -1005px;}*/
.post-content li li{margin-left:.4em;}



/* Titolo dei posts */
h2.title {font-size: 100%;margin-bottom: 5px;}
h2.title a{color:#080;font-size: 130%;font-family: Cambria, Georgia, 'Times New Roman', serif;}
h2.title a:hover{color:#2a2}

/* Titolo su post singolo */
h1.title {font-size: 200%;font-family: Cambria, Georgia, 'Times New Roman', serif;border-bottom: 1px solid #c3ffc3;margin-bottom: 20px}

h3.title a{color:#080;}
h3.title a:hover{color:#2a2}
.single-navigation a:hover {color: #080}
.page-navigation a:hover, .comment-navigation a:hover{border-color: #080;background-color: #080}



/*** TOP NAVIGATION ***/

/* Colore testo dei link parent */
ul#navigation li a{color: #080}

/* link nei sottomenu della voce attiva */
ul#navigation li.active a:hover{color: #080}
ul#navigation li.active:hover a{background-color:white;}


ul#navigation li.active a,
ul#navigation li.active-parent a,
ul#navigation li.active-ancestor a
{background:#080 url(img/nav-active.png) no-repeat left top;text-shadow:#888 1px 1px 1px;}

/* submenus */
ul#navigation ul{border-color: #7b7;background-color: white}

/* Padding nelle voci dei sottomenu, della voce attiva */
/* Bordo esterno dei sottomenu attivi*/
ul#navigation li.active ul,
ul#navigation li.active-parent ul,ul#navigation li.active-ancestor ul
{background-color: #fff;border-color: #7b7;}



/* fade on mouse out  su tutti i sottomenu, attivi o non. */
ul#navigation li li a.fadeThis span.hover,
ul#navigation li.active li a.fadeThis span.hover,
ul#navigation li.active-ancestor li a.fadeThis span.hover{background-color:#cfc;}



/* Menu sopra */
ul#navigation li.active a,
ul#navigation li.active.home a {
	text-shadow:#000 1px 1px 1px;
}

/* Sottomenu, inattivi */
ul#navigation ul li a,
ul#navigation li.active ul a
{color: #080;text-shadow:#aaa 1px 1px 1px;}


/* Mouseover sui menu sopra, se attivi */
ul#navigation li.active a:hover,
ul#navigation li.active.home a:hover
{color: white}

/* Mouseover sui sottomenu, se inattivi */
ul#navigation ul li a:hover,
ul#navigation li.active li a:hover
{color: #080;text-shadow: white 1px 1px 1px;background-color:white;}

/* Voce corrente, in un sottomenu */
ul#navigation li li.active a {color: white}
ul#navigation li ul li.active a:hover {color: #cfc;text-shadow: black 1px 1px 1px;}

/* Sottomenu della voce corrente, se essa e' in un sottomenu */
ul#navigation li li.active li a {color: #080}
ul#navigation li ul li.active li a:hover {color: #080;text-shadow: #aaa 1px 1px 1px;}



/* Immaginette personalizzate */

/* freccina laterale negli elenchi puntati nella sidebar */
.block li{background-image:url(img/icons.png)}
/* iconcina del fumetto utilizzata quando ci sono commenti in un post */
.post-info p.comments a.comments{background-image:url(img/icons.png)}
/* Iconcina dei tags */
.post-tags{background-image:url(img/icons.png)}
/* freccina laterale negli elenchi puntati nella sidebar ? */
.box ul.menuList li a span.entry{background-image:url(img/icons.png)}

/* Freccetta sotto la voce corrente nel menu in alto */
ul#navigation li.active a span.pointer,
ul#navigation li.active-parent a span.pointer,
ul#navigation li.active-ancestor a span.pointer
{background-image:url(img/nav-pointer.png)}

/* Pulsante Leggi o continua... nei featured posts sulla home */
#featured-content a.readmore{background-image:url(img/readmore.png)}

/* Ombra sotto il menu superiore */
.shadow-left{background-image:url(img/shadow.png);}
.shadow-right{background-image:url(img/shadow.png);}



.block h3.title,.block h3.title span,.block .block-div,
.block .block-div-arrow{background-image:url(img/block-title.png)}
li.comment .comment-head{background-image:url(img/comment-head.png);}
li.comment .comment-head.comment-author-admin,li.comment .comment-head.bypostauthor{background-color:#32ba2f;}
.search-form #searchfield,.search-form input.submit{background-image:url(img/search.png);}
.tabs-wrap{background-image:url(img/tabs-bg.png);}
.tabs li{background-image:url(img/tabs-c.png);}
.tabs li a{background-image:url(img/tabs.png);}


/* es. archivio di >> maggio << */
.altText{color:#2a2;}





/* Risultati ricerca */
.search h1.title {font-size: 200%}
.search .title .error {color: #080}


/* Extra navigation icons */
#header p.nav-extra {top:-46px;height:54px;}
#header a.nav-extra {height:60px;}

#header a.nav-extra.rss{background:url(mystique_icons/nav-rss.png) no-repeat scroll right top transparent;}
#header a.facebook{background:url(mystique_icons/nav-facebook.png) no-repeat scroll right top transparent;}
#header a.email{background:url(mystique_icons/nav-email.png) no-repeat scroll right top transparent;}
#header a.youtube{background:url(mystique_icons/nav-youtube.png) no-repeat scroll right top transparent;}


/* Sexy Bookmarks */
.sexy-bookmarks {margin: auto 20px !important;}

body {background: url(img/body_sfondo.jpg) repeat scroll transparent;}

/* Data di scrittura del post */
.post-info{background-image:url(img/info-bar.png)}
.post-date{text-transform:none;background-image: url(img/info-bar.png)}
.post-date p.day{background-image:url(img/info-bar.png);color: #999}


.post-content a img {
	border: 1px solid #CCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px;
	-webkit-box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 2px #888;
}


/* Icona nei link che puntano ai vari tipi di file */
a[href $='.pdf'] {
	padding-right: 18px;
	background: transparent url(img/icon_pdf.png) no-repeat center right;
}
a[href $='.doc'] {
	padding-right: 18px;
	background: transparent url(img/icon_doc.png) no-repeat center right;
}
a[href $='.zip'], a[href $='.rar'], a[href $='.zip'] {
	padding-right: 18px;
	background: transparent url(img/icon_zip.png) no-repeat center right;
}


/* Partners in alto a destra */
#partners_top {
	float: right;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 10px;
}

#partners_top span {
	display: block;
	margin-bottom: 8px;
}

#partners_top a {
	margin: auto 5px;
}
#partners_top .partner img {
	border: 1px solid #beb;
	padding: 4px;
	background-color: white;
}

.partner img {
	height: 60px;
	margin-left: 3px;
	margin-right: 3px;
}

/* Partners laterali */
#partners_widget img {
	vertical-align: middle;
}

#partners_widget a {
	text-decoration: none;
}

/* FAQ laterali */
.block-gc-faq li a {
	text-decoration: none;
	font-size: 120%;
}

.block-gc-faq li {
	margin-bottom: 6px;
}

/* NextGen Gallery */
.ngg-widget {text-align: center !important}


/* PER LA STAMPA */
@media print {
 #sidebar, #footer, .post-tags, .fb-like {display:none;}
 .post-content {font-family: "Times New Roman", serif}
}
